*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

operator-keypairs/*.json
devnet-operators-keys
gcp-operators-keys

neon-proxy/charts/*.tgz
tmp.txt

config*.ini

*vault-keys*.json*
config.ini*
config.*
