*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

operator-keypairs/*.json
devnet-operators-keys

neon-proxy/charts/*.tgz
tmp.txt

*.ini

vault-keys.json

#Work in progress
monitoring
storage