NEON_PROXY_ENABLED="true"
VAULT_ENABLED="true"
POSTGRES_ENABLED="true"
INGRESS_ENABLED="false"
MONITORING_ENABLED="false"
PROMETHEUS_ENABLED="false"
LOKI_ENABLED="false"
GRAFANA_ENABLED="false"
TRACER_ENABLED="true"

## Kubernetes namespace
NAMESPACE='neon-proxy'

## Operator keys directory and search mask
KEY_DIR='operator-keypairs'
KEY_MASK="id*.json"
INDEXER_KEY_FILE="id3.json"

## Example 
## "gce" - for GKE
## "alb" - for EKS
## "nginx" - for "nginx-ingress"
INGRESS_CLASS="nginx"
INGRESS_SERVICE_TYPE="NodePort"

################
## SOLANA
################
## There is an option to use the -S option to set this variable
SOLANA_URL=
## Solana RPC url. If disabled will be the same as $SOLANA_URL
#PP_SOLANA_URL=


################
## PROXY
################
PROXY_VER="v0.15.0"
## Proxy pods count
PROXY_COUNT=2

## Keys per proxy
KEYS_PER_PROXY=20

#PROXY_HOST="neon-proxy.example.com"

PROXY_MIN_CPU="500m"
PROXY_MIN_MEM="1Gi"
PROXY_MAX_CPU="1000m"
PROXY_MAX_MEM="4Gi"

ONE_PROXY_PER_NODE="false"

## PROXY ENV   
PRX_FAUCET_URL=""
PRX_PROXY_URL=""
PRX_LOG_NEON_CLI_DEBUG="YES"
PRX_FUZZING_BLOCKHASH="NO"
PRX_LOG_FULL_OBJECT_INFO="YES"
PRX_CONFIG="ci"
PRX_PYTH_MAPPING_ACCOUNT=""
PRX_MIN_OPERATOR_BALANCE_TO_WARN="4565760000"
PRX_MIN_OPERATOR_BALANCE_TO_ERR="913152000"
PRX_MINIMAL_GAS_PRICE="1"
PRX_ENABLE_PRIVATE_API="YES"
PRX_ALLOW_UNDERPRICED_TX_WITHOUT_CHAINID="YES"
PRX_EVM_LOADER=""
PRX_NEON_CLI_TIMEOUT="10"
PRX_CONFIRM_TIMEOUT="15"
PRX_PERM_ACCOUNT_LIMIT="1"
PRX_ENABLE_SEND_TX_API="YES"
PRX_GATHER_STATISTICS="YES"

## INDEXER ENV
IDX_GATHER_STATISTICS="YES"
IDX_LOG_FULL_OBJECT_INFO="NO"

## GAS-TANK
INDEXER_ERC20_WRAPPER_WHITELIST="ANY"
START_SLOT="LATEST"


################
## Postgres
################

POSTGRES_HOST="postgres"
POSTGRES_DB="neon-db"
POSTGRES_PORT="5432"

## sslmode values: "disable", "allow", "prefer", "require", "verify-ca" or "verify-full"
POSTGRES_SSL="allow"

POSTGRES_USER="neon-proxy"
## If disabled, the password will be randomly generated.
## Use this command to show password:
## kubectl get secret postgres-secret --template={{.data.POSTGRES_PASSWORD}} -n neon-proxy | base64 --decode
#POSTGRES_PASSWORD="password"

POSTGRES_ADMIN_USER="postgres"
#POSTGRES_ADMIN_PASSWD=""

## Skiped if POSTGRES_ENABLED="false"
#POSTGRES_FS_ID=
POSTGRES_STORAGE_CLASS="default"
POSTGRES_STORAGE_SIZE="10Gi"


################
## Vault
################
## "dev","standalone" or "ha"
VAULT_TYPE="standalone"

VAULT_DEV_TOKEN="root"
#VAULT_ROOT_TOKEN=""
#VAULT_UNSEAL_KEY=""
VAULT_KEYS_FILE="vault-keys.json"

## -key-shares (int: 5) - Number of key shares to split the generated master key into. This is the number of "unseal keys" to generate. 
VAULT_KEY_SHARED=1

## -key-threshold (int: 3) - Number of key shares required to reconstruct the root key. This must be less than or equal to -key-shares
VAULT_KEY_THRESHOLD=1
VAULT_HA_REPLICAS=2


################
## Prometheus
################

#PROMETHEUS_FS_ID=
PROMETHEUS_STORAGE_CLASS="default"
PROMETHEUS_STORAGE_SIZE="10Gi"
PROMETHEUS_INGRESS_ENABLED="true"
PROMETHEUS_INGRESS_PATH="/prometheus"

################
## Grafana
################

#PROMETHEUS_FS_ID=
GRAFANA_STORAGE_CLASS="default"
GRAFANA_STORAGE_SIZE="10Gi"
GRAFANA_ADMIN_USER="admin"
GRAFANA_ADMIN_PASSWD="grafana"
GRAFANA_INGRESS_ENABLED="true"
GRAFANA_INGRESS_PATH="/grafana"
