## Environment
## Set "devnet", "testnet" or "mainnet" environment
P_ENV="devnet"

##
INGRESS_ENABLED="false"
POSTGRES_ENABLED="true"
VAULT_ENABLED="true"
NEON_PROXY_ENABLED="true"

## Kluster type
## eks, gke, localhost
CLUSTER_TYPE="localhost"

## Kubernetes namespace
NAMESPACE='neon-proxy'

## Operator keys directory and search mask
KEY_DIR='operator-keypairs'
KEY_MASK="id*.json"

## Example 
## "gce" - for GKE
## "alb" - for EKS
## "nginx" - for "nginx-ingress"
INGRESS_CLASS="nginx"

################
## SOLANA
################
## There is an option to use the -S option to set this variable
SOLANA_URL=
## Solana RPC url. If disabled will be the same as $SOLANA_URL
#PP_SOLANA_URL=

################
## PROXY
################
PROXY_VER="v0.12.2"
## Proxy pods count
PROXY_COUNT=2

## Keys per proxy
KEYS_PER_PROXY=20

#PROXY_HOST="neon-proxy.example.com"

## PROXY ENV   
FAUCET_URL=""
PROXY_URL=""
LOG_NEON_CLI_DEBUG="YES"
FUZZING_BLOCKHASH="NO"
LOG_FULL_OBJECT_INFO="YES"
CONFIG="ci"
PYTH_MAPPING_ACCOUNT=""
MIN_OPERATOR_BALANCE_TO_WARN="4565760000"
MIN_OPERATOR_BALANCE_TO_ERR="913152000"
MINIMAL_GAS_PRICE="1"
ENABLE_PRIVATE_API="YES"
ALLOW_UNDERPRICED_TX_WITHOUT_CHAINID="YES"
EVM_LOADER=""
NEON_CLI_TIMEOUT="10"
CONFIRM_TIMEOUT="15"

## INDEXER ENV
IDX_GATHER_STATISTICS="YES"
IDX_LOG_FULL_OBJECT_INFO="NO"

################
## Postgres
################

POSTGRES_HOST="postgres"
POSTGRES_DB="neon-db"
POSTGRES_PORT="5432"

## sslmode values: "disable", "allow", "prefer", "require", "verify-ca" or "verify-full"
POSTGRES_SSL="allow"

POSTGRES_USER="neon-proxy"
## If disabled, the password will be randomly generated.
## It can be set with -d parameter: install_neon_proxy.sh -d some-password ...
## Use this command to show password:
## kubectl get secret postgres-secret --template={{.data.POSTGRES_PASSWORD}} -n neon-proxy | base64 --decode
#POSTGRES_PASSWORD=<some password>

POSTGRES_ADMIN_USER="postgres"
#POSTGRES_ADMIN_PASSWD=""

## Storage class: host, efs, scw-bssd
## Skipped if POSTGRES_ENABLED="false"
POSTGRES_STORAGE_CLASS="host"
#EFS_ID=
POSTGRES_STORAGE_DIR="/data/postgres"
POSTGRES_STORAGE_SIZE="50Gi"



################
## Vault
################
## "dev","standalone" or "ha"
VAULT_TYPE="dev"

VAULT_DEV_TOKEN="root"
VAULT_KEYS_FILE="vault-keys.json"

## If disabled, vault will be installed in same namesapce (not recommended)
#VAULT_NAMESPACE="vault"

## -key-shares (int: 5) - Number of key shares to split the generated master key into. This is the number of "unseal keys" to generate. 
VAULT_KEY_SHARED=1

## -key-threshold (int: 3) - Number of key shares required to reconstruct the root key. This must be less than or equal to -key-shares
VAULT_KEY_THRESHOLD=1

VAULT_HA_REPLICAS=2





